.form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #009688;
  font: inherit;
  border-radius: 2px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

button {
  font: inherit;
  border: 1px solid #009688;
  color: #009688;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem;
}
button:hover,
button:active {
  background-color: #009688;
  color: #ffe600;
}
