<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{pageTitle}
		link(rel="stylesheet", href="/css/main.css")
		link(rel="icon", href="https://nodejs.org/static/images/favicons/favicon.ico", size="16x16")
		block styles
	body
		include ../includes/navigation.pug
		main
			block main